article.bkb-comment > .field {
  padding-bottom: 24px;
}
article.bkb-group {
  padding: 0 0 16px 32px;
}

.view-source-comments table {
  table-layout: fixed;
}
.view-source-comments table tbody td {
  vertical-align: top;
}
.view-source-comments article.bkb-group {
  padding: 0;
}

form.source-comment-form .field--name-index {
  display: none;
}

#edit-sources--description {
  max-width: max-content;
  margin-bottom: 16px;
}
