article.bkb-comment > .field {
  padding-bottom: 24px;
}
article.bkb-group {
  padding: 0 0 16px 32px;
}

.view-source-comments table {
  table-layout: fixed;
}
.view-source-comments table tbody td {
  vertical-align: top;
}
.view-source-comments article.bkb-group {
  padding: 0;
}

form.source-comment-form .field--name-index,
form.source-comment-form .field--name-source .form-item__description {
  display: none;
}
form.source-comment-form .ajax-new-content .field--name-source .form-item__description {
  display: block;
}

form.bkb-base-source-data-edit .label-wrapper > .form-type--textfield {
  display: inline-block;
}
